extends layout

block content
	include snipets/presentation-snipet
	include snipets/resume-snipet
	section.presentation.small-section
		div.text-center.keep-coding
			h1 Keep Calm and Keep Coding!
	include snipets/about-snipet
	include snipets/contact-snipet
	footer
		div.container
			div.row
				div.col-xs-6.col-sm-6.col-md-3
					h4 Victor Basurto
					ul.nav #[li Victor Basurto 2015]
				div.col-xs-6.col-sm-6.col-md-3
					h4 Website Information
					ul.nav
						li #[a(href="http://www.nodejs.org") NodeJS]
						li #[a(href="http://www.jade-lang.com") Jade]
						li #[a(href="http://expressjs.com") ExpressJS]
						li #[a(href="http://github.com/emberfeather/less.js-middleware") Less Middle-Ware]
				div.col-xs-6.col-sm-6.col-md-3
					h4 Information
					ul.nav
						li #[a(href="#sectionHome") Home]
						li #[a(href="#sectionResume") Resume]
						li #[a(href="#sectionAbout") About]
						li #[a(href="#sectionContact") Contact]
				div.col-xs-6.col-md-3.col-md-3
					h4 Follow Me
					ul.nav
						li #[a(href="#") Twitter]
						li #[a(href="#") Google+]
						li #[a(href="#") Github]
						li #[a(href="#") LinkedIn]