extends layout

block content
	include snipets/presentation-snipet
	include snipets/resume-snipet
	section.presentation.small-section
		div.text-center.keep-coding
			h1 Keep Calm and Keep Coding!
	include snipets/about-snipet
	include snipets/contact-snipet