doctype
html
	head
		title= title
		link(rel="stylesheet", href="stylesheets/bootstrap.min.css")
		link(rel="stylesheet", href="stylesheets/less/style.css")
		link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
		link(rel="icon", href="/images/favicon.ico", type="image/x-icon")
		link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet", type="text/css")
		link(rel="stylesheet", href="stylesheets/animate.css")

		//- <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		//- <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		//- <!--[if lt IE 9]>

	body
		
		//- navbar
		nav.navbar.navbar-default.navbar-fixed-top
			div.container-fluid
				//- Brand and toggle get grouped for better mobile display 
				div.navbar-header
					button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#main-navigation", aria-expanded="false")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="#sectionHome") Victor Basurto

				//- Collect the nav links, forms, and other content for toggling
				div.collapse.navbar-collapse#main-navigation
					ul.nav.navbar-nav.navbar-right
						li 
							a(href="#sectionHome") Home
						li
							a(href="#sectionResume") Resume
						li
							a(href="#sectionAbout") About
						li
							a(href="#sectionContact") Contact
		block content
		footer
			div.container
				div.row
					div.col-xs-6.col-sm-6.col-md-3
						h4 Victor Basurto
						ul.nav #[li Victor Basurto 2015]
					div.col-xs-6.col-sm-6.col-md-3
						h4 Website Information
						ul.nav
							li #[a(href="http://www.nodejs.org") NodeJS]
							li #[a(href="http://www.jade-lang.com") Jade]
							li #[a(href="http://expressjs.com") ExpressJS]
							li #[a(href="http://github.com/emberfeather/less.js-middleware") Less Middle-Ware]
					div.col-xs-6.col-sm-6.col-md-3
						h4 Website-Navigation
						ul.nav
							li #[a(href="#sectionHome") Home]
							li #[a(href="#sectionResume") Resume]
							li #[a(href="#sectionAbout") About]
							li #[a(href="#sectionContact") Contact]
					div.col-xs-6.col-md-3.col-md-3
						h4 Follow Me
						ul.nav
							li #[a(href="https://twitter.com/DroidVic") Twitter]
							li #[a(href="https://plus.google.com/u/0/+VicBA") Google+]
							li #[a(href="https://github.com/victor-basurto") Github]
							li #[a(href="https://www.linkedin.com/in/victorBasurto") LinkedIn]

		script(type="text/javascript", src="/javascripts/vendor/jquery.js")
		script(type="text/javascript", src="/javascripts/vendor/bootstrap.min.js")
		script(type="text/javascript", src="/javascripts/vendor/wow.min.js")
		script(type="text/javascript", src="/javascripts/script.js")

