extends layout

block content
	section.presentation.resume-pres
		div.text-center.centering-content
			div.col-sm-6.col-sm-offset-3
				div.col-sm-4
					img.myself-image(src="/images/home/image-side.jpg", alt="image-tie")
				div.col-md-8
					table.table.table-responsive.regular-table
						tr
							th(scope="row") Core Web Technologies:
							td HTML, XHTML, HTML(5), CSS, CSS(3)
						tr
							th(scope="row") HTML Template Engine:
							td JADE
						tr
							th(scope="row") Languages:
							td Javascript, some Exp on Java and Python
						tr
							th(scope="row") JS Libs:
							td jQuery, HandleBarsJS
						tr
							th(scope="row") CSS-Processor:
							td Less
						tr
							th(scope="row") Back-End:
							td NodeJS and Some Dependencies
						tr
							th(scope="row") Database:
							td MongoDB
						tr
							th(scope="row") Data Exchange Format:
							td JSON
						tr
							th(scope="row") Frameworks:
							td ExpressJS, Bootstrap, learning EmberJS
						tr
							th(scope="row") Repositories (Code Hosting):
							td Bitbucket, Github
						tr
							th(scope="row") Version Control System:
							td Git
						tr
							th(scope="row") Team Tracker:
							td JIRA
