//- About Section
section.presentation.about-pres#sectionAbout
	div.text-center.center-content
		div.col-md-12
			div.col-md-2.col-md-offset-2.col-xs-6.col-xs-offset-3
				img.about-img-mrg.img-responsive.myself-image.wow.animated.fadeInRight(src="/images/home/image-side.jpg", alt="image-tie")
			div.col-md-6.col-xs-12
				div.aboutme-info
					p SOFTWARE DEVELOPER with three years of experience in Front-End Technologies, UI.
					p I love to code in javascript environment, dependencies, libs, frameworks.
					p This is a big reason that I like NodeJS as well.
					h2 My Experience
					p Software Development Degree on ITT-Technical Institute.
					p Completed Core Classes: Introduction to Computer Programming, Introduction to Web Applications, 
						| Client-Side Web Scripting, Programming in Java, Android Development, Programming in Visual Basic, 
						| Web Authoring and Design, Business Concepts for Application Developers, Web Security and Ethics, 
						| Software Development Lifecycles, Database Development.
					p I finished my contract as Full Stack Developer, using NodeJS, Express and Mongodb
						| On ITT-Tech Federal Work Studies Team. During my contract, I did tutoring about programming 
						| principles to new students .
					p I've been creating web-apps, static and dynamic websites as well.
					p I like to spend most of my time learning new technologies and applying my knowledge into small projects