//- About Section
section.presentation.about-pres#sectionAbout
	div.text-center.center-content
		div.col-md-12
			div.col-md-2.col-md-offset-2.col-xs-5.col-xs-offset-4
				img.img-responsive.myself-image.wow.animated.fadeInRight(src="/images/home/image-side.jpg", alt="image-tie")
			div.col-md-6.col-xs-12
				div.aboutme-info
					h2 Who Am I?
					p I am a Software Developer who loves Front-End Technologies
					p I'm close to my third year of experience
					p I love to code in javascript and all of its dependencies, libs, frameworks.
					p This is a big reason that I love NodeJS as well.
					h2 My Experience
					p I finished my degree on ITT-Technical Institute as a Software Developer
					p Completed Core Classes: Introduction to Computer Programming, Introduction to Web Applications, 
					p Client-Side Web Scripting, Programming in Java, Android Development, Programming in Visual Basic, 
					p Web Authoring and Design, Business Concepts for Application Developers, Web Security and Ethics, 
					p Software Development Lifecycles, Database Development.
					p I finished my contract as Full Stack Developer, using NodeJS, Express and Mongodb
						| On ITT-Tech Federal Work Studies Team. During my contract, I did tutoring about programming 
						| principles to new students .
					p I've been creating web apps, static and dynamic websites as well.
					p I like to spend most of my time learning new technologies and applying my knowledge into small projects