//- First Secction - Presentation
section.presentation.contact-pres#sectionContact
	div.center-content.text-center
		div.col-md-8.col-md-offset-2 
			h2 Your Details
			form
				div.col-md-4
					div.form-group
						input.form-control.input-lg#user-email(type="text", placeholder="Enter Name")
				div.col-md-4
					div.form-group
						input.form-control.input-lg#user-email(type="email", placeholder="Email")
				div.col-md-4
					div.form-group
						input.form-control.input-lg#user-subject(type="phone", placeholder="Phone Number")
				div.col-md-6.col-md-offset-3
					div.form-group
						h2 Brief Description
						textarea.form-control#user-desc(rows="6")
			div.col-md-4.clear-top
				div.icon-images
					h3 Submit Info
					img.contact-icon#mail(src="/images/contact/mail.svg")
			div.col-md-4.clear-top
				div.icon-images
					h3 Connect With Me
					img.contact-icon#connect(src="/images/contact/connect.svg")
			div.col-md-4.clear-top
				div.icon-images
					h3 Download Resume
					img.contact-icon#pdf(src="/images/contact/pdf.svg")




			//- address
			//- 	strong Victor Basurto
			//- 	br
			//- 	| 350 3rd Ave
			//- 	br
			//- 	| Chula Vista, CA 91910
			//- 	br
			//- 	abbr(title="Phone") P  
			//- 	| (619)866-8300
			//- h2 Your Details
			//- h2 Contact Me	
			//- div.col-md-3
			//- 	div.contactme-info
			//- div.col-md-9
			//- 	iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3359.7478758900293!2d-117.08138629999999!3d32.639537000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d94dfd35abaad3%3A0x6f067683eaa22ea8!2s350+3rd+Ave%2C+Chula+Vista%2C+CA+91910!5e0!3m2!1sen!2sus!4v1443135171204", 
						width="600", height="450", frameborder="0", style="border:0", allowfullscreen)