//- First Secction - Presentation
section.presentation.myself-pres#sectionHome
	div.text-center.center-content
		div.col-xs-6.col-xs-offset-3.add-margin
			div.col-md-4
				img.myself-image.img-responsive.wow.animated.slideInDown(src="/images/home/funny-me.jpg", alt="image-tie")
			div.col-md-8.wow.animated.zoomIn
				table.table.table-responsive.presentation-table
					tr
						th(scope="row") Name:
						td Victor Basurto
					tr
						th(scope="row") Age:
						td ???
					tr
						th(scope="row") Place:
						td San Diego, CA
					tr
						th(scope="row") Hobby:
						td Video Games, Coding
					tr
						th(scope="row") Title:
						td Software Developer
					tr
						th(scope="row") Specialty:
						td Front-End