//- First Secction - Presentation
section.presentation.myself-pres#sectionHome
	div.text-center.center-content
		//- div.col-md-6.col-md-offset-3
		//- 	p.bigParagraph.test SAN DIEGO
		div.col-md-12.add-margin
			div.col-md-2.col-md-offset-3.col-xs-6.col-xs-offset-3
				img.myself-image.img-responsive.wow.animated.slideInDown(src="/images/home/funny-me.jpg", alt="image-tie")
			div.col-md-4.wow.animated.zoomIn
				table.table.table-responsive.presentation-table
					tr
						th(scope="row") Name:
						td Victor Basurto
					tr
						th(scope="row") Age:
						td 1985 do the Math
					tr
						th(scope="row") Place:
						td San Diego, CA
					tr
						th(scope="row") Hobbies:
						td Learning, Reading, Watching Tutorials 
					tr
						th(scope="row") Title:
						td Software Developer
					tr
						th(scope="row") Specialty:
						td Front-End