//- Resume Section
section.presentation.resume-pres#sectionResume
	div.text-center.center-content
		div.col-md-12
			div.col-md-2.col-md-offset-3.col-xs-6.col-xs-offset-3
				img.img-responsive.myself-image.wow.animated.fadeInLeft(src="/images/home/image-tie.jpg", alt="image-tie")
			div.col-md-4
				table.table.table-responsive.regular-table
					tr
						th(scope="row") Core Web Technologies:
						td HTML, XHTML, HTML(5), CSS, CSS(3)
					tr
						th(scope="row") Template Engine:
						td JADE
					tr
						th(scope="row") Languages:
						td Javascript, some Exp on Java and Python
					tr
						th(scope="row") JS Libs/Frameworks:
						td jQuery, Bootstrap, ExpressJS
					tr
						th(scope="row") CSS-Processor:
						td Less
					tr.hide-info
						th(scope="row") Back-End:
						td NodeJS and Some Dependencies
					tr.hide-info
						th(scope="row") Database:
						td MongoDB
					tr.hide-info
						th(scope="row") Data Exchange Format:
						td JSON
					tr.hide-info
						th(scope="row") Repositories (Code Hosting):
						td Bitbucket, Github
					tr.hide-info
						th(scope="row") Version Control System:
						td Git
					tr.hide-info
						th(scope="row") Team Tracker:
						td JIRA
				button.btn.btn-primary.pull-right.wow.animated.bounce#show-hide(type="button") More Information...